{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Beepme.co{% endblock title %}</title>

  <!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
    .red-color {
      color: red;
    }
    .grey-color {
      color: #ccc;
    }
    </style>
</head>

<body>
    {% include "navbar.html" %}
  <div class='container'>
  <script>
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function loadBeepContainer(containerID) {
            console.log(containerID)
            var query = getParameterByName('q')
            var beepList = [];
            var initialURL = '/api/beep'
            var beepContainer

            if (containerID){
                beepContainer = $('#' + containerID)
            }
            else {
                beepContainer = $('#beep-container')
            }
            var initialURL = beepContainer.attr("data-url") || "/api/beep/"

            $(document.body).on("click", ".beep-like", function(e){
              e.preventDefault()
              var this_ = $(this)
              var beepId = this_.attr("data-id")
              var likedUrl = '/api/beep/' + beepId + "/like/"
              $.ajax({
                method:"GET",
                url: likedUrl,
                success: function(data){
                  if (data.liked){
                    this_.text("Liked")
                  } else {
                    this_.text("Unliked")
                  }
                },
                error: function(data){
                  console.log("error")
                  console.log(data)
                }
              })
          })
            $(document.body).on("click", ".retweetBtn", function(e){
                e.preventDefault()
                console.log("clicked")
                var url = "/api" + $(this).attr("href")
                $.ajax({
                    method: "GET",
                    url: url,
                    success: function (data) {
                      console.log(data)
                      attachBeeps(data, true, true)
                     updateHashLinks()
                    },
                    error: function(data){
                     console.log("error")
                    console.log(data)
                    }
                })
            })
            function updateHashLinks() {
                $(".media-body").each(function (data) {
                    var hashtagRegex = /(^|\s)#([\w\d-]+)/g
                    var usernameRegex = /(^|\s)@([\w\d-]+)/g
                    var currentHtml = $(this).html()
                    var newText;
                    newText = currentHtml.replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>")
                    newText = newText.replace(usernameRegex, "$1 @<a href='/$2/'>$2</a>")
                    $(this).html(newText)

                })
            }
            function formatTweet(tweetValue) {
                var verb = 'Like'
                if (tweetValue.did_like){
                    verb = 'Unlike'
                }
                var preContent;
                var container;
                var tweetContent;
                console.log(tweetValue)
                if (tweetValue.parent) {
                  // there is a retwet
                  tweetValue = tweetValue.parent
                   preContent = "<span class='grey-color'>Rebeep via " + tweetValue.user.username +" on " + tweetValue.date_display + "</span><br/>"
                }
                tweetContent = tweetValue.content + "<br/> via <a href='" + tweetValue.user.url + "'>" + tweetValue.user.username + "</a> | " + tweetValue.date_display + " | " + "<a href='/beep/" + tweetValue.id + "'>View</a> | " + "<a class='retweetBtn' href='/beep/" + tweetValue.id + "/rebeep/'>Rebeep</a>" + " | <a href='#' class='beep-like' data-id=" + tweetValue.id + ">" + verb + "</a>"
                if (preContent){
                     container= "<div class=\"media\"><div class=\"media-body\">" + preContent + tweetContent + "</div></div><hr/>"
                } else {
                     container = "<div class=\"media\"><div class=\"media-body\">" + tweetContent + "</div></div><hr/>"
                }

                 return container
            }
            function attachBeeps(tweetValue, prepend, retweet){
                tweetFormattedHtml = formatTweet(tweetValue)
                if (prepend==true){
                  beepContainer.prepend(tweetFormattedHtml)
                } else {
                  beepContainer.append(tweetFormattedHtml)
               }
            }
            function parseBeeps() {
                if (beepList == 0) {
                    initalContainer.text("No beeps currently found.")
                } else {
                    // beeps exist, parse & display them
                    $.each(beepList, function (key, value) {
                        if (value.parent){
                            attachBeeps(value, false, true)

                        }
                        attachBeeps(value)

                    })
                }
            }
            function fetchBeeps(url) {
                if (!url) {
                    fetchUrl = '/api/beep'
                }
                else {
                    fetchUrl = url
                }
                $.ajax({
                    url: fetchUrl,
                    data: {
                        "q": query
                    },
                    method: "GET",
                    success: function (data) {
                        beepList = data.results
                        if (data.next) {
                            nextBeepUrl = data.next
                        } else {
                            $("#loadmore").css("display", "none")
                        }
                        parseBeeps()
                        updateHashLinks()

                    },
                    error: function (data) {
                        console.log("error")
                        console.log(data)
                    }
                })
            }
            fetchBeeps()

            $('#loadmore').bind('click', function (evt) {
                evt.preventDefault()
                if (nextBeepUrl) {
                    fetchBeeps(nextBeepUrl)
                }
            })

            var charsStart = 140;
            var charsCurrent = 0;

            $("#beep-form").append("<span id='beepCharsLeft'>" + charsStart + "</span>")
            $("#beep-form textarea").keyup(function (event) {
                var beepValue = $(this).val()
                charsCurrent = charsStart - beepValue.length
                var spanChars = $("#beepCharsLeft")
                spanChars.text(charsCurrent)
                if (charsCurrent > 0) {
                    // remove classes
                    spanChars.removeClass("grey-color")
                    spanChars.removeClass("red-color")
                } else if (charsCurrent == 0) {
                    // add grey class
                    spanChars.removeClass("red-color")
                    spanChars.addClass("grey-color")
                } else if (charsCurrent < 0) {
                    // add red class
                    spanChars.removeClass("grey-color")
                    spanChars.addClass("red-color")
                }
            })

            $("#beep-form").submit(function (event) {
                event.preventDefault()
                var this_ = $(this)
                var formData = this_.serialize()
                if (charsCurrent >= 0) {
                    $.ajax({
                        url: "/api/beep/create/",
                        data: formData,
                        method: "POST",
                        success: function (data) {
                            console.log(data)
                            this_.find('input[type=text], textarea').val('')

                            attachBeeps(data, true)
                            updateHashLinks()

                        },
                        error: function (data) {
                            console.log("error")
                            console.log(data.statusText)
                            console.log(data.status)
                        }
                    })
                } else {
                    console.log("Cannot send, beep too long.")
                }


            })

    }
  </script>
 {% block content %} {% endblock content %}

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  {% block script %}  {% endblock script %}
  <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 800; // in ms
        var searchInput = $("#navbar-search-form input[type=text]")
        var searchQuery;
        searchInput.keyup(function(event){
            searchQuery =  $(this).val()
            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })
         searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        })
        function doneSearchTyping(){
          if (searchQuery){
            // do search
            var url = '/beep/search/?q=' + searchQuery
            document.location.href = url;
          }
        }
      })
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
