{% extends "base.html" %}

<style>
    #beep-container {}
</style>

{% block script %}
<script>
    $(document).ready(function () {
        loadBeepContainer('beep-container')
    })
</script> {% endblock script %} {% block content %}


<div class='row'>
    <div class='col-sm-3 col-xs-12'>
        <h1>{{ request.user }}</h1>
    </div>
    <div class='col-sm-9 '>
        {% if not request.GET.q %}
        <div class=''>

            {% include "beeps/form.html" with form=create_form action_url=create_url btn_title='Beep' form_id='beep-form' %}

        </div>
        <hr/> {% endif %}

        <div id='beep-container' data-url='/api/beep'>


        </div>
        <a href="#" id='loadmore'>Load More</a>


    </div>
</div>

{% endblock content %}
